{% extends "main.html" %}

{% block content %}
<hr>
<h2> Ptojects </h2>
<table>
  <tr>
    <th>Title</th>
    <th>Votes</th>
    <th>Ratio</th>
    <th>Created Time</th>
    <th></th>
    <th></th>
  </tr>
  {% for project in projects %}
  <tr>
    <td><a href="{% url 'project' project.id %}">{{project.title}}</a></td>
    <td>{{project.vote_total}}</td>
    <td>{{project.vote_ratio}}%</td>
    <td>{{project.created}}</td>
    <td><a href="{% url 'updateproject' project.id %}">Update</a></td>
    <td><a href="{% url 'delete' project.id %}">Delete</a></td>
    
  </tr>
  {% endfor %}
</table>

{% endblock content %}

